@model statsmachine.Models.UserViewModel

@{
    ViewBag.Title = "Warmachine - Index";
}

<h2>@ViewBag.Title</h2>

<h2>Debug Menu:</h2>
<h4>Game Filter goes here ...</h4>

<ul>
    <li>@Html.ActionLink("My Games", "Games", "Warmachine", new { userid = Model.Id}, null)</li>
    <li>@Html.ActionLink("All Games", "Games", "Warmachine", new { }, null)</li>
    <li>@Html.ActionLink("Log Warmachine Game", "Create", "Warmachine", new { }, null)</li>
</ul>