@model statsmachine.Models.UserGame

@{
    ViewBag.Title = "Delete";
}

<h2>UserGames - Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserGame</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
