@{
    ViewBag.Title = "StatsMachine - Home";
}

<div class="jumbotron">
    <h1>StatsMachine</h1>
    <p class="lead">Online stats tracking for Warmachine and Hordes Players.</p>
</div>

<div class="nav">
    Controllers (Proto-temp)
    <ul class="nav-tabs">
        <li> @Html.ActionLink("Games", "Index", "Games", new { area = "" }, new { @class = "navbar-brand" }) </li>
        <li> @Html.ActionLink("User Games", "Index", "UserGames", new { area = "" }, new { @class = "navbar-brand" }) </li>
    </ul>
</div>

