
@{
    ViewBag.Title = "StatsMachine - Legal";
}

<h1>@ViewBag.Title</h1>

<div class="container">
    <h3> Privateer Press Trademark/Copyright Info </h3>
    Images originating from the Privateer Press website are © 2001—2016 Privateer Press, Inc. All Rights Reserved. WARMACHINE ®, HORDES, and their logos are trademarks of Privateer Press, Inc. Images and trademarks used without permission. This website is unofficial and is not endorsed by Privateer Press.
</div>
