@model IEnumerable<statsmachine.Models.GameSystem>

@{
    ViewBag.Title = "Index";
}

<h2>Game Systems - Index</h2>
<p>
    <div class="container">
        <b>Admins: </b>Adding additional games to StatsMachine requires development work since there is no way to add a game dynamically under Entity Framework.
        Please speak to a site developer if you wish to add additional game support.
        <br /> <b>Developer:</b> Models, Controllers, Views must all be created and database must be migrated.
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
    </tr>
}

</table>
